@import './partials/variables';
@import './partials/mixins';
@import './partials/header';
@import './partials/reset';
@import './partials/start';
@import './partials/content-section';
@import './partials/img-gallery';
@import './partials/footer';
@import './partials/text';


body{
    min-height: 100vh;
     display: flex; 
    flex-direction: column;
    line-height: 1.5;
    font-family: "Avenir Next";
}

img {
    max-width: 100%;
    display: block; 
}